<!DOCTYPE html>
<html lang="en" ng-app="app">
 <head>
  <meta charset="utf-8"/>
  <meta content="webkit" name="renderer"/>
  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  <title>
   课程中心4.0
  </title>
  <meta name="description"/>
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>
  <!--[if lte IE 8]>
       <script>
         document.createElement('ng-include');
         document.createElement('ng-pluralize');
         document.createElement('ng-view');
        document.createElement('ies-file-uploader');
         // Optionally these for CSS
         document.createElement('ng:include');
         document.createElement('ng:pluralize');
         document.createElement('ng:view');
       </script>
     <![endif]-->
  <link href="/G2S/Css/footer.css" rel="stylesheet"/>
  <link href="/G2S/Css/header.css" rel="stylesheet"/>
  <link href="/G2S/Frameworks/bootstrap/css/bootstrap.css" rel="stylesheet"/>
  <link href="/G2S/Css/common.css" rel="stylesheet"/>
  <link href="/G2S/Frameworks/angular/dialog/css/ngDialog.css" rel="stylesheet"/>
  <link href="/G2S/Frameworks/angular/dialog/css/ngDialog-theme-plain.css" rel="stylesheet"/>
  <link href="/G2S/Frameworks/angular/dialog/css/ngDialog-theme-default.css" rel="stylesheet"/>
  <link href="/G2S/Frameworks/angular/dialog/css/ngDialog-custom-width.css" rel="stylesheet"/>
  <script>
   //应用程序根目录-->  结果('/')||('/g2s')
        window.appPatch = "/G2S" == "/" ? "" : "/G2S";
  </script>
 </head>
 <body>
  <div class="wrap">
   <div class="public_header" id="topest">
    <div class="header_center">
     <div>
      <a class="company_logo" href="/portal/CC/Index.aspx" target="_blank">
       南京医科大学
      </a>
     </div>
     <div class="user_box">
      <div class="user_name">
       <a class="username_a" href="/G2S/User/Account?leftmenu=D3">
        <span class="user_sp_img">
         <img height="20" width="20"/>
        </span>
        <span class="user_sp_name">
         用户
        </span>
       </a>
       <span class="togArrowWrap">
        <em class="userInfo_arrow">
        </em>
       </span>
      </div>
      <ul class="user_info">
       <li>
        <a href="/G2S/User/Account?leftmenu=D1" target="_self">
         帐号管理
        </a>
       </li>
       <li>
        <a href="/G2S/User/Msg?leftmenu=D2" target="_self">
         消息中心
        </a>
       </li>
       <li>
        <a href="/G2S/User/AddressBook?leftmenu=D3" target="_self">
         通讯录
        </a>
       </li>
       <li>
        <a href="/G2S/Redir/default.aspx?leftmenu=D4" target="_self">
         返回主页
        </a>
       </li>
       <li>
        <a href="/G2S/logout.ashx?leftmenu=D5" target="_self">
         退出系统
        </a>
       </li>
      </ul>
     </div>
     <ul class="nav_box">
      <li>
       <a href="/G2S/Redir/default.aspx" target="_self">
        返回首页
       </a>
      </li>
      <li class="active">
       <a href="/G2S/Redir/CS.aspx?topmenu=C1" target="_self">
        课程学习
       </a>
      </li>
      <li>
       <a href="/G2S/Redir/Resource.aspx?topmenu=C2" target="_self">
        我的资源
       </a>
      </li>
     </ul>
    </div>
   </div>
   <div>
    <link href="/G2S/Css/test.css" rel="stylesheet"/>
    <link href="/G2S/Css/ico.css" rel="stylesheet"/>
    <div ng-controller="DoHomeWorkController">
     <div class="work_paper">
      <div class="paper_tit">
       <h4>
        <span ng-bind-template="{{test.Name}}">
        </span>
        <a class="hack_btn_answer" href="javascript:;" ng-bind-template="显示答案" ng-click="_toggleAnswerDisplay()" ng-if="_showAnswer==false" style="color:cyan;">
        </a>
        <a class="hack_btn_answer" href="javascript:;" ng-bind-template="隐藏答案" ng-click="_toggleAnswerDisplay()" ng-if="_showAnswer==true" style="color:cyan;">
        </a>
        <a href="/G2S/CourseLive/Test/viewResults?TestID={{testid}}" style="color:orange;">
         参考答案
        </a>
       </h4>
       <div class="paper_operation ng-cloak" ng-if="testCanSubmit&amp;&amp;iCanSubmit">
        <a class="submit_btn" href="javascript:;" ng-click="Test_Return()" ng-if="TestUsers.Status==20">
         撤回重做
        </a>
        <a class="submit_btn" href="javascript:;" id="a_submit" ng-click="Test_Submit()" ng-if="TestUsers.Status&lt;20">
         提交
        </a>
        <a href="javascript:;" id="a_tempsave" ng-click="zancuntishi()" ng-if="TestUsers.Status&lt;20">
         暂存
        </a>
       </div>
      </div>
      <div class="work_paper_box">
       <div class="work_status">
        <p>
         <span>
          姓　  名
         </span>
         <span ng-bind-template="{{User.UserName}}">
         </span>
        </p>
        <p>
         <span>
          对应章节
         </span>
         <span ng-bind-template="{{User.ChapterName}}">
         </span>
        </p>
        <p>
         <span>
          成绩类型
         </span>
         <span ng-bind-template="{{ScaleTypeName}}">
         </span>
        </p>
        <p>
         <span>
          截止日期
         </span>
         <span ng-bind-template="{{test.EndDate| dateFormatAll}}">
         </span>
        </p>
        <p>
         <span>
          题 目 数
         </span>
         <span ng-bind-template="{{exercisecount}}">
         </span>
        </p>
        <p class="last ng-cloak" ng-show="exerciseConten!=''" style=" width:890px;">
         <span>
          说  明:
         </span>
         <span ng-bind-template="{{exerciseConten}}">
         </span>
        </p>
       </div>
       <div class="review_box">
        <div class="section_work" ng-repeat="papergroup in papergrouplist" on-load-time="">
         <div class="section_tit">
          <span ng-bind-template="{{papergroup.GroupName}}">
          </span>
          <p>
           总题数：
           <b id="b_exercise_{{papergroup.GroupID}}">
            2
           </b>
           总分数：
           <b id="b_exercisescore_{{papergroup.GroupID}}">
            20
           </b>
          </p>
         </div>
         <div ng-bind-template="  注释说明:{{papergroup.Brief}}" ng-if="papergroup.Brief!='' &amp;&amp; papergroup.Brief!=null" style="border-bottom: 1px solid #d7d7d7; border-left: 1px solid #d7d7d7; border-right: 1px solid #d7d7d7; height:auto; min-height:30px;">
         </div>
         <ul class="question_list">
          <li ng-class="{17: 'hearing',5:'hearing',8:'hearing',9:'hearing',12:'hearing', 0: ''}[{{exercise.ExerciseType}}]" ng-repeat="exercise in exerciselist|exerciseFilter:papergroup.GroupID:papergroup.PaperID">
           <div class="ng-cloak" ng-if="exercise.ExerciseType==1 ">
            <div class="issue_box">
             <h4>
              <span class="serialNo" id="sp_{{exercise.ExerciseID}}">
              </span>
              <span ng-bind-template="【{{exercise.ExerciseTypeName}}】({{exercise.Score}}分)">
              </span>
             </h4>
             <p ng-bind-html="exercise.Conten|toHtml">
             </p>
            </div>
            <div class="true_false">
             <span>
              <a class="true_answer " href="javascript:;" id="panduan_{{exercise.ExerciseID}}_1" ng-click="ExerciseChoicesClick(exercise.ExerciseID,1)">
               正确
              </a>
             </span>
             <span>
              <a class="false_answer " href="javascript:;" id="panduan_{{exercise.ExerciseID}}_0" ng-click="ExerciseChoicesClick(exercise.ExerciseID,0)">
               错误
              </a>
             </span>
            </div>
            <p class="answer_tip" style=" display:none;">
             <i class="icon_test true_btn">
             </i>
             回答正确
            </p>
            <p class="answer_tip wrong_answer" style=" display:none;">
             <i class="icon_test false_btn">
             </i>
             正确答案是：B，D
            </p>
           </div>
           <div class="ng-cloak" ng-if="exercise.ExerciseType==2 ">
            <div class="issue_box">
             <h4>
              <span class="serialNo" id="sp_{{exercise.ExerciseID}}">
              </span>
              <span ng-bind-template="【{{exercise.ExerciseTypeName}}】({{exercise.Score}}分)">
              </span>
             </h4>
             <p ng-bind-html="exercise.Conten|toHtml">
             </p>
            </div>
            <div class="radio_list" ng-repeat="exercisechoices in ExerciseChoices|choicesFilter:exercise.ExerciseID|sortFilter:exercise.IsRand">
             <div style="padding-left:25px; line-height:25px">
              <i class="icon_test true_btn" ng-show="exercise.Answer==exercisechoices.ChoiceID &amp;&amp; _showAnswer" style="float:left;margin:4px 0px 5px -25px">
              </i>
              <input name="xuanze_{{exercise.ExerciseID}}" ng-click="ExerciseCheckClick(exercise.ExerciseID)" pid="{{exercisechoices.ChoiceID}}" style="float:left;margin:6px 3px 6px 0" type="radio"/>
              <span ng-bind-template="{{$index+1|ToNumByLetter:$index+1}}." style="float:left;">
              </span>
              <div ng-bind-html="exercisechoices.Conten | toHtml" style="float:left">
              </div>
             </div>
            </div>
            <p class="answer_tip" style=" display:none;">
             <i class="icon_test true_btn">
             </i>
             回答正确
            </p>
            <p class="answer_tip wrong_answer" style=" display:none;">
             <i class="icon_test false_btn">
             </i>
             正确答案是：B，D
            </p>
           </div>
           <div class="ng-cloak" ng-if="exercise.ExerciseType==3 ">
            <div class="issue_box">
             <h4>
              <span class="serialNo" id="sp_{{exercise.ExerciseID}}">
              </span>
              <span ng-bind-template="【{{exercise.ExerciseTypeName}}】({{exercise.Score}}分)">
              </span>
             </h4>
             <p ng-bind-html="exercise.Conten|toHtml">
             </p>
            </div>
            <div class="radio_list" ng-repeat="exercisechoices in ExerciseChoices|choicesFilter:exercise.ExerciseID|sortFilter:exercise.IsRand">
             <div style="padding-left:15px; line-height:25px">
              <i class="icon_test false_btn" id="i_{{exercise.ExerciseID}}_{{exercisechoices.ChoiceID}}" style=" display: none;float:left; margin: 4px 0px 5px -15px">
              </i>
              <input name="xuanze_{{exercise.ExerciseID}}" ng-click="ExerciseCheckClick(exercise.ExerciseID)" pid="{{exercisechoices.ChoiceID}}" style="float:left;margin:6px 3px 6px 0" type="checkbox"/>
              <span ng-bind-template="{{$index+1|ToNumByLetter:$index+1}}." style="float:left;">
              </span>
              <div ng-bind-html="exercisechoices.Conten | toHtml" style="float:left">
              </div>
             </div>
            </div>
            <p class="answer_tip" style=" display:none;">
             <i class="icon_test true_btn">
             </i>
             回答正确
            </p>
            <p class="answer_tip wrong_answer" style=" display:none;">
             <i class="icon_test false_btn">
             </i>
             正确答案是：B，D
            </p>
           </div>
           <div class="ng-cloak" ng-if="exercise.ExerciseType==4 || exercise.ExerciseType==11">
            <div class="issue_box">
             <h4>
              <span class="serialNo" id="sp_{{exercise.ExerciseID}}">
              </span>
              <span ng-bind-template="【{{exercise.ExerciseTypeName}}】({{exercise.Score}}分)">
              </span>
             </h4>
             <p ng-bind-html="exercise.Conten|toHtml">
             </p>
            </div>
            <div class="radio_list">
             <input class="blank_box textblank_box" id="txt_{{exercise.ExerciseID}}" ng-blur="ExerciseTextClick(exercise.ExerciseID,0)" ng-if="exercise.ExerciseType==4" pid="{{exercise.ExerciseID}}" placeholder="请输入答案" type="text"/>
             <textarea class="blank_box textblank_box" id="txt_{{exercise.ExerciseID}}" ng-blur="ExerciseTextClick(exercise.ExerciseID,0)" ng-if="exercise.ExerciseType==11" pid="{{exercise.ExerciseID}}" style="height:80px;overflow:auto;"></textarea>
            </div>
            <p class="answer_tip" style=" display:none;">
             <i class="icon_test true_btn">
             </i>
             回答正确
            </p>
            <p class="answer_tip wrong_answer" style=" display:none;">
             <i class="icon_test false_btn">
             </i>
             正确答案是：B，D
            </p>
           </div>
           <div class="ng-cloak" ng-if="exercise.ExerciseType==8 || exercise.ExerciseType==9">
            <div class="listen_box">
             <i class="icon connect">
             </i>
             <div class="listening">
              <h4 ng-bind-template="【{{exercise.ExerciseTypeName}}】({{exercise.Score}}分)">
              </h4>
              <p ng-bind-html="exercise.Conten|toHtml">
              </p>
             </div>
            </div>
            <div ng-repeat="exercise1 in exerciselist|exerciseParentFilter:papergroup.GroupID:papergroup.PaperID:exercise.ExerciseID">
             <div class="issue_box">
              <h4>
               <span class="serialNo" id="sp_{{exercise1.ExerciseID}}">
               </span>
               <span ng-bind-template="{{$index+1}})  【{{exercise1.ExerciseTypeName}}】({{exercise1.Score}}分)">
               </span>
              </h4>
              <p ng-bind-html="exercise1.Conten|toHtml">
              </p>
             </div>
             <div class="radio_list" ng-if="IsIE==1" tabindex="1">
              <input id="oEditor_1" name="oEditor_1" type="hidden"/>
              <input id="oEditor_{{exercise1.ExerciseID}}" name="oEditor_{{exercise1.ExerciseID}}" ng-value="frmoEditor_{{exercise1.ExerciseID}}" type="hidden"/>
              <iframe frameborder="0" height="220" id="frmoEditor_{{exercise1.ExerciseID}}" ng-blur="ExerciseTextClick(exercise1.ExerciseID,1)" scrolling="no" src="/G2S/Frameworks/eWebEditor/ewebeditor.htm?id=oEditor_1&amp;style=mini" style="display: block;" width="900">
              </iframe>
             </div>
             <div class="radio_list" ng-if="IsIE==0" tabindex="1">
              <textarea id="txt_{{exercise1.ExerciseID}}" ng-blur="ExerciseTextClick(exercise1.ExerciseID,0)" style="width:897px; height:120px;"></textarea>
             </div>
            </div>
           </div>
           <div class="ng-cloak" ng-if="exercise.ExerciseType==10 || exercise.ExerciseType==13">
            <div class="issue_box">
             <h4>
              <span class="serialNo" id="sp_{{exercise.ExerciseID}}">
              </span>
              <span ng-bind-template="【{{exercise.ExerciseTypeName}}】({{exercise.Score}}分)">
              </span>
             </h4>
             <p ng-bind-html="exercise.Conten|toHtml">
             </p>
            </div>
            <div class="radio_list" ng-if="IsIE==1" tabindex="1">
             <input id="oEditor_1" name="oEditor_1" type="hidden"/>
             <input id="oEditor_{{exercise.ExerciseID}}" name="oEditor_{{exercise.ExerciseID}}" ng-value="frmoEditor_{{exercise.ExerciseID}}" type="hidden"/>
             <iframe frameborder="0" height="220" id="frmoEditor_{{exercise.ExerciseID}}" ng-blur="ExerciseTextClick(exercise.ExerciseID,1)" scrolling="no" src="/G2S/Frameworks/eWebEditor/ewebeditor.htm?id=oEditor_1&amp;style=mini" style="display: block;" width="900">
             </iframe>
            </div>
            <div class="radio_list" ng-if="IsIE==0" tabindex="1">
             <textarea id="txt_{{exercise.ExerciseID}}" ng-blur="ExerciseTextClick(exercise.ExerciseID,0)" style="width:897px; height:120px;"></textarea>
            </div>
            <p class="answer_tip" style=" display:none;">
             <i class="icon_test true_btn">
             </i>
             回答正确
            </p>
            <p class="answer_tip wrong_answer" style=" display:none;">
             <i class="icon_test false_btn">
             </i>
             正确答案是：B，D
            </p>
           </div>
           <div class="ng-cloak" ng-if="exercise.ExerciseType==17 ||exercise.ExerciseType==12 || exercise.ExerciseType==14">
            <div class="listen_box">
             <i class="icon connect">
             </i>
             <div class="listening">
              <h4 ng-bind-template="【{{exercise.ExerciseTypeName}}】({{exercise.Score}}分)">
              </h4>
              <p ng-bind-html="exercise.Conten|toHtml">
              </p>
             </div>
            </div>
            <div ng-repeat="exercise1 in exerciselist|exerciseParentFilter:papergroup.GroupID:papergroup.PaperID:exercise.ExerciseID">
             <div ng-if="exercise1.ExerciseType==1 ">
              <div class="issue_box">
               <h4>
                <span class="serialNo" id="sp_{{exercise1.ExerciseID}}">
                </span>
                <span ng-bind-template="{{$index+1}})  【{{exercise1.ExerciseTypeName}}】({{exercise1.Score}}分)">
                </span>
               </h4>
               <p ng-bind-html="exercise1.Conten|toHtml">
               </p>
              </div>
              <div class="true_false">
               <span>
                <a class="true_answer " href="javascript:;" id="panduan_{{exercise1.ExerciseID}}_1" ng-click="ExerciseChoicesClick(exercise1.ExerciseID,1)" pid="1">
                 正确
                </a>
               </span>
               <span>
                <a class="false_answer " href="javascript:;" id="panduan_{{exercise1.ExerciseID}}_0" ng-click="ExerciseChoicesClick(exercise1.ExerciseID,0)" pid="0">
                 错误
                </a>
               </span>
              </div>
              <p class="answer_tip" style=" display:none;">
               <i class="icon_test true_btn">
               </i>
               回答正确
              </p>
              <p class="answer_tip wrong_answer" style=" display:none;">
               <i class="icon_test false_btn">
               </i>
               正确答案是：B，D
              </p>
             </div>
             <div ng-if="exercise1.ExerciseType==2 ">
              <div class="issue_box">
               <h4>
                <span class="serialNo" id="sp_{{exercise1.ExerciseID}}">
                </span>
                <span ng-bind-template="{{$index+1}})  【{{exercise1.ExerciseTypeName}}】({{exercise1.Score}}分)">
                </span>
               </h4>
               <p ng-bind-html="exercise1.Conten|toHtml">
               </p>
              </div>
              <div class="radio_list" ng-repeat="exercisechoices in ExerciseChoices|choicesFilter:exercise1.ExerciseID|sortFilter:exercise1.IsRand">
               <p>
                <i class="icon_test false_btn" id="i_{{exercise1.ExerciseID}}_{{exercisechoices.ChoiceID}}" style=" display:none;">
                </i>
                <input name="xuanze_{{exercise1.ExerciseID}}" ng-click="ExerciseCheckClick(exercise1.ExerciseID)" pid="{{exercisechoices.ChoiceID}}" type="radio"/>
                <span ng-bind-template="{{$index+1|ToNumByLetter:$index+1}}.{{exercisechoices.Conten}}" title="{{exercisechoices.Conten}}">
                </span>
               </p>
              </div>
              <p class="answer_tip" style=" display:none;">
               <i class="icon_test true_btn">
               </i>
               回答正确
              </p>
              <p class="answer_tip wrong_answer" style=" display:none;">
               <i class="icon_test false_btn">
               </i>
               正确答案是：B，D
              </p>
             </div>
             <div ng-if="exercise1.ExerciseType==3 ">
              <div class="issue_box">
               <h4>
                <span class="serialNo" id="sp_{{exercise1.ExerciseID}}">
                </span>
                <span ng-bind-template="{{$index+1}})  【{{exercise1.ExerciseTypeName}}】({{exercise1.Score}}分)">
                </span>
               </h4>
               <p ng-bind-html="exercise1.Conten|toHtml">
               </p>
              </div>
              <div class="radio_list" ng-repeat="exercisechoices in ExerciseChoices|choicesFilter:exercise1.ExerciseID|sortFilter:exercise1.IsRand">
               <p>
                <i class="icon_test false_btn" id="i_{{exercise1.ExerciseID}}_{{exercisechoices.ChoiceID}}" style=" display:none;">
                </i>
                <input name="xuanze_{{exercise1.ExerciseID}}" ng-click="ExerciseCheckClick(exercise1.ExerciseID)" pid="{{exercisechoices.ChoiceID}}" type="checkbox"/>
                <span ng-bind-template="{{$index+1|ToNumByLetter:$index+1}}.{{exercisechoices.Conten}}" title="{{exercisechoices.Conten}}">
                </span>
               </p>
              </div>
              <p class="answer_tip" style=" display:none;">
               <i class="icon_test true_btn">
               </i>
               回答正确
              </p>
              <p class="answer_tip wrong_answer" style=" display:none;">
               <i class="icon_test false_btn">
               </i>
               正确答案是：B，D
              </p>
             </div>
             <div ng-if="exercise1.ExerciseType==4 || exercise1.ExerciseType==11">
              <div class="issue_box">
               <h4>
                <span class="serialNo" id="sp_{{exercise1.ExerciseID}}">
                </span>
                <span ng-bind-template="{{$index+1}})  【{{exercise1.ExerciseTypeName}}】({{exercise1.Score}}分)">
                </span>
               </h4>
               <p ng-bind-html="exercise1.Conten|toHtml">
               </p>
              </div>
              <div class="radio_list">
               <input class="blank_box textblank_box" id="txt_{{exercise1.ExerciseID}}" ng-blur="ExerciseTextClick(exercise1.ExerciseID,0)" pid="{{exercise1.ExerciseID}}" placeholder="请输入答案" type="text"/>
              </div>
              <p class="answer_tip" style=" display:none;">
               <i class="icon_test true_btn">
               </i>
               回答正确
              </p>
              <p class="answer_tip wrong_answer" style=" display:none;">
               <i class="icon_test false_btn">
               </i>
               正确答案是：B，D
              </p>
             </div>
             <div ng-if="exercise1.ExerciseType==18 ">
              <div class="issue_box">
               <h4>
                <span class="serialNo" id="sp_{{exercise1.ExerciseID}}">
                </span>
                <span ng-bind-template="{{$index+1}})  【{{exercise1.ExerciseTypeName}}】({{exercise1.Score}}分)">
                </span>
               </h4>
               <p ng-bind-html="exercise1.Conten|toHtml">
               </p>
              </div>
              <div class="radio_list">
               <textarea id="txt_{{exercise1.ExerciseID}}" ng-blur="ExerciseTextClick(exercise1.ExerciseID,0)" style="width:897px; height:120px;"></textarea>
              </div>
              <p class="answer_tip" style=" display:none;">
               <i class="icon_test true_btn">
               </i>
               回答正确
              </p>
              <p class="answer_tip wrong_answer" style=" display:none;">
               <i class="icon_test false_btn">
               </i>
               正确答案是：B，D
              </p>
             </div>
             <div ng-if="exercise1.ExerciseType==10 || exercise1.ExerciseType==13">
              <div class="issue_box">
               <h4>
                <span class="serialNo" id="sp_{{exercise1.ExerciseID}}">
                </span>
                <span ng-bind-template="{{$index+1}})  【{{exercise1.ExerciseTypeName}}】({{exercise1.Score}}分)">
                </span>
               </h4>
               <p ng-bind-html="exercise1.Conten|toHtml">
               </p>
              </div>
              <div class="radio_list" ng-if="IsIE==1" tabindex="1">
               <input id="oEditor_1" name="oEditor_1" ng-value="frmoEditor1" type="hidden"/>
               <iframe frameborder="0" height="220" id="frmoEditor_{{exercise1.ExerciseID}}" ng-blur="ExerciseTextClick(exercise1.ExerciseID,1)" scrolling="no" src="/G2S/Frameworks/eWebEditor/ewebeditor.htm?id=oEditor_1&amp;style=mini" style="display: block;" width="900">
               </iframe>
              </div>
              <div class="radio_list" ng-if="IsIE==0" tabindex="1">
               <textarea id="txt_{{exercise1.ExerciseID}}" ng-blur="ExerciseTextClick(exercise1.ExerciseID,0)" style="width:897px; height:120px;"></textarea>
              </div>
              <p class="answer_tip" style=" display:none;">
               <i class="icon_test true_btn">
               </i>
               回答正确
              </p>
              <p class="answer_tip wrong_answer" style=" display:none;">
               <i class="icon_test false_btn">
               </i>
               正确答案是：B，D
              </p>
             </div>
            </div>
           </div>
           <div class="ng-cloak" ng-if="exercise.ExerciseType==5">
            <div class="listen_box">
             <i class="icon connect">
             </i>
             <div class="listening">
              <h4 ng-bind-template="【{{exercise.ExerciseTypeName}}】({{exercise.Score}}分)">
              </h4>
              <p ng-bind-html="exercise.Conten|toHtml">
              </p>
             </div>
            </div>
            <div ng-repeat="exercise1 in exerciselist|exerciseParentFilter:papergroup.GroupID:papergroup.PaperID:exercise.ExerciseID">
             <div ng-if="exercise1.ExerciseType==5 ">
              <div class="issue_box">
               <h4>
                <span class="serialNo" id="sp_{{exercise1.ExerciseID}}">
                </span>
                <span ng-bind-template="{{$index+1}})  【{{exercise1.ExerciseTypeName}}】({{exercise1.Score}}分)">
                </span>
               </h4>
               <p ng-bind-html="exercise1.Conten|toHtml">
               </p>
              </div>
              <div class="radio_list">
               <input class="blank_box textblank_box" id="txt_{{exercise1.ExerciseID}}" ng-blur="ExerciseTextClick(exercise1.ExerciseID,0)" pid="{{exercise1.ExerciseID}}" placeholder="请输入答案" type="text"/>
              </div>
              <p class="answer_tip" style=" display:none;">
               <i class="icon_test true_btn">
               </i>
               回答正确
              </p>
              <p class="answer_tip wrong_answer" style=" display:none;">
               <i class="icon_test false_btn">
               </i>
               正确答案是：B，D
              </p>
             </div>
            </div>
           </div>
          </li>
         </ul>
        </div>
       </div>
      </div>
     </div>
     <span ng-click="HackToggleRemain()" class="remain_box_toggle_button">
       Toggle
     </span>
     <div class="remain_box" ng-class="{remain_box_open:_hack_remain_open, remain_box_close:!_hack_remain_open}">
      <span class="remain_tit">
       剩余时间（时分）
      </span>
      <p class="time_box" id="jishiqi">
      </p>
      <span class="remain_tit">
       完成率
      </span>
      <p class="time_box" ng-bind-template="{{wanchenglv}}">
      </p>
      <div ng-repeat="papergroup in papergrouplist">
       <span class="remain_tit">
        <label ng-bind-template="{{papergroup.GroupName}}" style="display: inline-block; margin-bottom:0px;">
        </label>
        <a class="ico_up ico_showhide" ng-click="GroupUpDown($index)" style="display: inline-block; margin-bottom: 0px; vertical-align:text-bottom;" tid="1">
        </a>
       </span>
       <div class="question_num" on-paper-info="">
        <!-- Hack Layout Start -->
        <ul ng-if="_showAnswer==true" class="num_box">
          <li id="li_{{exercise.ExerciseID}}" ng-bind-template="{{exercise.Orde}}" class="{{_hack_judge(exercise.ExerciseAnswerComment)}}" ng-if="paper.IsTactic==0" ng-repeat="exercise in exerciselist|exerciseFilter2:papergroup.GroupID:papergroup.PaperID" orde="{{exercise.Orde}}" pid="{{exercise.ExerciseID}}">
         </li>
        </ul>
        <!-- Hack Layout End -->
        <!-- Original Layout Start -->
        <ul ng-if="_showAnswer==false">
         <li id="li_{{exercise.ExerciseID}}" ng-bind-template="{{exercise.Orde}}" ng-class="{ 'active': exercise.ExerciseAnswerIsactive==1}" ng-if="paper.IsTactic==0" ng-repeat="exercise in exerciselist|exerciseFilter2:papergroup.GroupID:papergroup.PaperID" orde="{{exercise.Orde}}" pid="{{exercise.ExerciseID}}">
         </li>
        </ul>
        <!-- Original Layout End -->
        <div ng-if="paper.IsTactic==1">
         <ul ng-repeat="exercise in exerciselist|exerciseFilter:papergroup.GroupID:papergroup.PaperID" pid="{{exercise.ExerciseID}}">
          <li id="li_{{exercise.ExerciseID}}" ng-class="{ 'active': exercise.ExerciseAnswerIsactive==1}" ng-if="exerciseIsson(exercise.ExerciseID)==0" orde="{{exercise.Orde}}" pid="{{exercise.ExerciseID}}">
          </li>
          <li id="li_{{exercise1.ExerciseID}}" ng-class="{ 'active': exercise1.ExerciseAnswerIsactive==1}" ng-if="exerciseIsson(exercise.ExerciseID)==1" ng-repeat="exercise1 in exerciselist|exerciseParentFilter:papergroup.GroupID:papergroup.PaperID:exercise.ExerciseID" orde="{{exercise1.Orde}}" pid="{{exercise1.ExerciseID}}">
          </li>
         </ul>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
   <div>
    <div class="footer">
     <p class="copyright">
      <img alt="" height="30" src="/G2S/Images/company_logo2.png" width="70"/>
      Copyright©2003-2014，卓越版权所有
     </p>
     <div class="company_info">
      <a href="http://www.able-elec.com" target="_blank">
       关于卓越
      </a>
     </div>
    </div>
   </div>
   <a class="icon backto_top" href="#" onclick="$('body,html').animate({ scrollTop: 0 }, 300);">
   </a>
  </div>
  <script src="/G2S/js/jquery-1.8.3.min.js">
  </script>
  <script src="/G2S/js/es5.js">
  </script>
  <script src="/G2S/Frameworks/layer/layer.js">
  </script>
  <script src="/G2S/Frameworks/layer/extend/layer.ext.js">
  </script>
  <script src="/G2S/Cropp/jscss/cropbox.js">
  </script>
  <script src="/G2S/Frameworks/echarts-2.0.1/echarts-2.2.js">
  </script>
  <script src="/G2S/js/Chart.min.js">
  </script>
  <script src="/G2S/js/G2S.js">
  </script>
  <script src="/G2S/Frameworks/bootstrap/js/bootstrap.min.js">
  </script>
  <script src="/G2S/Frameworks/angular/angular.js">
  </script>
  <script src="/G2S/Frameworks/angular/angular-sanitize.min.js">
  </script>
  <script src="/G2S/Frameworks/angular/angular-ui-router.min.js">
  </script>
  <script src="/G2S/Frameworks/angular/angular-cookies.min.js">
  </script>
  <script src="/G2S/Frameworks/checklist-model/checklist-model.js">
  </script>
  <script src="/G2S/Frameworks/bootstrap/js/bootstrap-modal.js">
  </script>
  <script src="/G2S/Frameworks/bootstrap/js/bootstrap-transition.js">
  </script>
  <script src="/G2S/Frameworks/laypage/laypage.js">
  </script>
  <script src="/G2S/Frameworks/My97DatePicker/WdatePicker.js">
  </script>
  <script src="/G2S/Frameworks/laydate/laydate.js">
  </script>
  <script src="/G2S/Frameworks/zTree_v3/js/jquery.ztree.all-3.5.js">
  </script>
  <script src="/G2S/js/es5-shim.min.js">
  </script>
  <script src="/G2S/js/es5-sham.min.js">
  </script>
  <script src="/G2S/Frameworks/angular/console-sham.js">
  </script>
  <script src="/G2S/Frameworks/angular/angular-file-upload.js">
  </script>
  <script src="/G2S/Frameworks/isteven-multi-select/isteven-multi-select.js">
  </script>
  <script src="/G2S/js/common.js">
  </script>
  <script src="/G2S/Frameworks/isteven-multi-select/isteven-multi-select.js">
  </script>
  <script src="/G2S/scripts/common/directives.js">
  </script>
  <script src="/G2S/scripts/common/filters.js">
  </script>
  <script src="/G2S/scripts/common/services.js">
  </script>
  <script src="/G2S/scripts/controllers/OC/FC/FCController.js">
  </script>
  <script src="/G2S/scripts/controllers/OC/FC/FCAddController.js">
  </script>
  <script src="/G2S/scripts/controllers/OC/FC/FCLearnController.js">
  </script>
  <script src="/G2S/scripts/controllers/OC/Class/ClassController.js">
  </script>
  <script src="/G2S/scripts/controllers/OC/MOOC/MOOCController.js">
  </script>
  <script src="/G2S/scripts/controllers/OC/Team/TeamController.js">
  </script>
  <script src="/G2S/scripts/controllers/home/HomeController.js">
  </script>
  <script src="/G2S/scripts/controllers/home/StudentController.js">
  </script>
  <script src="/G2S/scripts/controllers/user/UserController.js">
  </script>
  <script src="/G2S/scripts/controllers/CourseLive/Forum/ForumController.js">
  </script>
  <script src="/G2S/scripts/controllers/CourseLive/Score/ScoreController.js">
  </script>
  <script src="/G2S/scripts/controllers/CourseLive/Test/TestController.js">
  </script>
  <script src="/G2S/scripts/controllers/CourseLive/Test/TestAddController.js">
  </script>
  <script src="/G2S/scripts/controllers/CourseLive/Test/MarkingController.js">
  </script>
  <script src="/G2S/scripts/controllers/CourseLive/Test/markingCardController.js">
  </script>
  <script src="/G2S/scripts/controllers/CourseLive/Test/DoHomeWork.js">
  </script>
  <script src="/G2S/scripts/controllers/CourseLive/Test/DoCardExercise.js">
  </script>
  <script src="/G2S/scripts/controllers/CourseLive/Test/ViewResults.js">
  </script>
  <script src="/G2S/scripts/controllers/CourseLive/Test/PeerAssessment.js">
  </script>
  <script src="/G2S/scripts/controllers/CourseLive/Test/CardPeerAssessment.js">
  </script>
  <script src="/G2S/scripts/controllers/CourseLive/Test/EveryWorkCtrl.js">
  </script>
  <script src="/G2S/scripts/controllers/CourseLive/Test/SmilarityArithmetic.js">
  </script>
  <script src="/G2S/scripts/controllers/CourseLive/Test/Compare.js">
  </script>
  <script src="/G2S/scripts/controllers/OC/MOOC/MOOCPreviewController.js">
  </script>
  <script src="/G2S/scripts/controllers/CourseLive/Test/HomeWorkController.js">
  </script>
  <script src="/G2S/scripts/controllers/Affairs/AffairsController.js">
  </script>
  <script src="/G2S/scripts/controllers/CourseLive/StudyProgress/StudyProgressController.js">
  </script>
  <script src="/G2S/scripts/controllers/CourseLive/Survey/SurveyController.js">
  </script>
  <script src="/G2S/scripts/controllers/CourseLive/Vote/VoteController.js">
  </script>
  <script src="/G2S/scripts/controllers/OC/CourseIndexController.js">
  </script>
  <script src="/G2S/scripts/controllers/Resource/Paper/PaperAddController.js">
  </script>
  <script src="/G2S/scripts/controllers/CourseLive/Test/StudentWorkListCtrl.js">
  </script>
  <script src="/G2S/scripts/controllers/CourseLive/Survey/SurverEditCtrl.js">
  </script>
  <script src="/G2S/scripts/controllers/Resource/Paper/PaperIndexController.js">
  </script>
  <script src="/G2S/scripts/controllers/Resource/Paper/BrowsePaper.js">
  </script>
  <script src="/G2S/scripts/controllers/Resource/Paper/BrowseCard.js">
  </script>
  <script src="/G2S/scripts/controllers/OC/FC2/FCTeacherController.js">
  </script>
  <script src="/G2S/scripts/controllers/OC/FC2/FCStudentController.js">
  </script>
  <script src="/G2S/js/CerTemplate.js">
  </script>
  <script src="/G2S/scripts/app.js">
  </script>
  <script>
   $('.playa_btn').live('click', function () {
            var fid = this.id.replace('file', '');
            layer.open({
                type: 2,
                title: false,
                border: [0],
                scrollbar: false,
                skin: 'layui-layer-rim',
                content: ["http://elearning.njmu.edu.cn:80"+'/Upload/HttpUpload/iShowFile.aspx?fid=' + fid, 'no'],
                area: ['820px', '562px']
            });
        })
  </script>
 </body>
</html>
